@media (max-width: 767px){
    .option-picker{
        width: 110px;
        font-size: 1.5rem !important;
    }
    .logo_img{
        width: 67px !important;
    }
    .title{
        font-size: 1.75rem !important;
    }
}
@media (max-width: 425px) {
    .header-container{
        padding: 16px;
        height: 60px;
    }
    .option-picker{
        width: 200px;
        font-size: 1.5rem !important;
    }
    .logo_img{
        display: none;
    }
    .title{
        font-size: 1.75rem !important;
        margin-right: 40px;
    }
}
