@media (max-width: 767px){
    .ant-layout .header-container{
        padding: 0 12px 0 30px;
    }
    
    .header-container .ant-select {
        padding-left: 50px;
    }
    .logo__img{
        padding: 10px;
    }
}
@media (max-width: 425px) {
    .ant-layout .header-container {
        padding: 0 9px 0 26px;
        height: 60px;
    }
    .title {
        margin-left: 0;
    }
    .logo {
        display: none;
    }
}