.table-tags:not(:last-child) {
  margin-bottom: 5px;
}
.expired-date {
  opacity: 0.5;
}

// hideItem 
.marginLeft{
  margin-left: 20px;
}
.typography{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
}
